<%= stylesheet_link_tag 'abouts' %>

    <div  class="container-fluid" id="about">
        <div class="jumbotron" id="jumbo-about"> 
            <div class="row">
                <div class="col-md-12 text-center" >
                    <h2>About US</h2>
                  WE ARE.
    There’s nothing cookie-cutter about Pizza Hut. Not our pizzas.  
    
    WHAT WE’RE ABOUT.
    At Pizza Hut, we don’t just make pizza. We make people’s days.  
    
    WHERE WE COME FROM.
    More than 55 years ago, two brothers borrowed $600 from their mom and set out to change 
    the way the world experienced pizza. 
    From our modest beginnings, we’ve grown to become the largest pizza company in the world.
    And since 1958, we’ve been spinning small-town passion and big-minded innovation into a 
    globe-trotting powerhouse of flavor.
    
    No matter where you find us, we’re making sure each meal our customers enjoy is delicious,
    bold, and one-of-a-kind. We have more than 15,000 restaurants and 300,000 team members in
    more than 90 countries. Instead of following trends, we set them by talking to fans and 
    learning from our restaurants all over the world.
                </div>
            </div>
        </div>
      </div>
      <div class="container-fluid"  id="our-performance">
        <div  class="jumbotron" id="jumbo-about" >
            <div class="row" >
                <div  class="col-md-12 text-center" >
                    <h2>Our Performance</h2>
                </div>
            </div>
        <div class="container-fluid" id="performance-rate ">
            <div class="row">
                <div class="performance-rate col-xs-12 col-sm-6 col-lg-3 text-center">
                        <h2>Food</h2>
                        <h2>
                            <strong class='numscroller numscroller-big-bottom' 
                            data-slno='1'
                            data-min='0'
                            data-max='94'
                            data-delay='6' 
                            data-increment="10">0</strong>%
                        </h2>
                        <span>
                            <%= fa_icon "thumbs-up 4x"%>
                        </span>
                </div>
                <div class="performance-rate col-xs-12 col-sm-6 col-lg-3  text-center"> 
                        <h2>Customers</h2>
                        <h2>
                            <strong class='numscroller numscroller-big-bottom' 
                            data-slno='1'
                            data-min='0'
                            data-max='94'
                            data-delay='6' 
                            data-increment="3">0</strong>%
                            </h2>
                         <%= fa_icon "smile-o 4x"%>
                </div>
                <div class="performance-rate col-xs-12 col-sm-6 col-lg-3 text-center">
                        <h2>Delivery</h2>
                        <h2><strong class='numscroller numscroller-big-bottom' 
                            data-slno='1'
                            data-min='0'
                            data-max='97'
                            data-delay='6' 
                            data-increment="4">0</strong>%
                        </h2> 
                         <%= fa_icon "clock-o 4x"%>
                </div>
                <div class="performance-rate col-xs-12 col-sm-6 col-lg-3 text-center">
                        <h2>Positive Feedback</h2>
                        <h2><strong class='numscroller numscroller-big-bottom' 
                            data-slno='1'
                            data-min='0'
                            data-max='4.5'
                            data-delay='0.1' 
                            data-increment="3">0</strong>/5</h2>
                        <%= fa_icon "star 4x" %>
                </div>
            </div>
        </div>
        <div style="margin-top:20px;">
           Source:<%=link_to "Grubhub", "https://www.grubhub.com/restaurant/cicceros-pizza-1536-s-la-cienega-blvd-los-angeles/294996"%>
        </div>
    </div>
</div>

