<%= stylesheet_link_tag 'abouts' %>

    <div  class="container-fluid" id="about">
        <div class="jumbotron" id="jumbo-about"> 
            <div class="row">
                <div class="col-md-12 text-center" >
                    <h2>About US</h2>
                </div>
                <div class="col-md-12 text-center">
                    <ol style="list-style-type: none;padding-left:0px;">
                        <li>WE BELIEVE IN <span>Conveince</span>, so Catering is avaialbe. </li>
                        <li>WE BELIEVE IN <span>Happiness</span>, so BUY one pizza GET one FREE</li>
                        <li>WE BELIEVE IN <span>TIME</span> is <span>$</span>, so Fast Delivery is avaialbe. <span>(Min $10.00 Purchase)</span></li>
                        <li>WE BELIEVE IN EVERYDAY IS A NEW DAY, so Fresh ingredients is used and Dough is made FRESH DAILY.</li>
                        <li>WE BELIEVE IN TRADITION must be RESPECTED, so %100 Mozzarllea cheese is being used</li>
                    </ol>
                </div>
            </div>
        </div>
      </div>
      <div class="container-fluid"  id="reviews">
        <div  class="jumbotron" id="jumbo-about" >
            <div class="row" >
                <div  class="col-md-12 text-center" >
                    <h2>Reviews</h2>
                </div>
            </div>
        <div class="container-fluid" id="performance-rate ">
            <div class="row">
                <div class="performance-rate col-xs-12 col-sm-6 col-lg-3 text-center">
                        <h2>Food</h2>
                        <h2>
                            <strong class='numscroller numscroller-big-bottom' 
                            data-slno='1'
                            data-min='0'
                            data-max='94'
                            data-delay='6' 
                            data-increment="5">0</strong>%
                        </h2>
                        <span>
                             <%= fa_icon "thumbs-up 4x"%>
                        </span>
                </div>
                <div class="performance-rate col-xs-12 col-sm-6 col-lg-3  text-center"> 
                        <h2>Customers</h2>
                        <h2>
                            <strong class='numscroller numscroller-big-bottom' 
                            data-slno='1'
                            data-min='0'
                            data-max='94'
                            data-delay='6' 
                            data-increment="3">0</strong>%
                            </h2>
                         <%= fa_icon "smile-o 4x"%>
                </div>
                <div class="performance-rate col-xs-12 col-sm-6 col-lg-3 text-center">
                        <h2>Delivery</h2>
                        <h2><strong class='numscroller numscroller-big-bottom' 
                            data-slno='1'
                            data-min='0'
                            data-max='97'
                            data-delay='6' 
                            data-increment="4">0</strong>%
                        </h2> 
                         <%= fa_icon "clock-o 4x"%>
                </div>
                <div class="performance-rate col-xs-12 col-sm-6 col-lg-3 text-center">
                        <h2>Feedback</h2>
                        <h2><strong class='numscroller numscroller-big-bottom' 
                            data-slno='0'
                            data-min='0'
                            data-max='4.5'
                            data-delay='0.1' 
                            data-increment="1">0</strong>/5</h2>
                        <%= fa_icon "star 4x" %>
                </div>
            </div>
        </div>
        <div style="margin-top:20px;">
           Source:<%=link_to "Grubhub", "https://www.grubhub.com/restaurant/cicceros-pizza-1536-s-la-cienega-blvd-los-angeles/294996"%>
        </div>
    </div>
</div>

